@model ApplyNew.Models.PayReceipt
@{
    ViewBag.Title = "CudReceiptCorporateTraining";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}

<div class="container h-100" id="maincontent" style='font-family:Helvetica, Arial,serif;background-color:white;'>
    @*<div>
            <img src="https://www.cud.ac.ae/newsletters/2020/09/30/header-whats-happening-fall-2020.jpg" style="width:100%;height:320px;">
        </div>*@<br />
    <div class="row align-items-center h-100">
        <div class="col-12 mx-auto">
            <div id="maincont">
                <h3 style="text-align:center;font-weight:bold;color:#d32020;" class="mb-3">@ApplyNew.Resources.Resource.Online_Application_cudreceipt</h3>
                <div class="form-group">
                    @if (Model.response == "00")
                    {
        <div class="col-8 mx-auto">
            <p id="p1success" style="font-size: 18px; font-weight: bold;text-align:center;color:#007bff;">@ApplyNew.Resources.Resource.Successful_msg_cudreceipt</p>
            <p style="text-align:center;font-size:15px;">@ApplyNew.Resources.Resource.Message1_cudreceipt</p>
            <p style="text-align:center;font-size:15px;">@ApplyNew.Resources.Resource.Message2_cudreceipt</p><br />
            <table class="table">
                <tbody>
                    <tr>
                        <td>@ApplyNew.Resources.Resource.Transaction_Date_cudreceipt:</td>
                        <td>@DateTime.Now.ToString()</td>
                    </tr>
                    <tr>
                        <td>@ApplyNew.Resources.Resource.Transaction_num_cudreceipt:</td>
                        <td>@Model.approvalcode</td>
                    </tr>
                    <tr>
                        <td>@ApplyNew.Resources.Resource.ProspectID_cudreceipt:</td>
                        <td>@Model.prospectid</td>
                    </tr>
                    <tr>
                        <td>@ApplyNew.Resources.Resource.Name_cudreceipt:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>@ApplyNew.Resources.Resource.Email_ID_cudreceipt:</td>
                        <td>@Model.email</td>
                    </tr>
                    <tr>
                        <td>@ApplyNew.Resources.Resource.Amount_Paid_cudreceipt:</td>
                        <td>@string.Format("{0:#.00}", Convert.ToDecimal(Model.amount)) AED</td>
                    </tr>
                </tbody>
            </table>
        </div><br />
                       }
                                    else
                                    {
                        <div style="text-align:center;" class="col-8 mx-auto">
                            <div class="form-group">
                                <p id="p2" style="font-size: 20px;">
                                    Error Message: @Model.responsemessage
                                </p>
                            </div>
                            <p id="p1failure" style="font-size: 18px; font-weight: bold;">
                                @ApplyNew.Resources.Resource.Unsuccessful_msg_cudreceipt
                            </p>
                            <p>
                                <input type="button" class="btn btn-primary" value="retry payment" style="width:330px;" onclick="document.location.href='@Url.Action("CudPayment", "OnlinePayment", new { language = Model.locallang})'" />
                            </p>
                            <p id="p1failure1" style="font-size: 18px; font-weight: bold;">If you continue experiencing difficulty please contact us at +971 4-321-9090 or email at <a href="mailto:apply@cud.ac.a"> apply@cud.ac.a </a></p>
                        </div>}
                </div>

            </div>
        </div>
    </div>
</div>

